<% if @swap.present? && SwapIntake.today_is_first_intake_day?(@swap) %>
  <section id="notice--first-intake-day" class="notice bg-blue-300">
    <h3>Hotel vouchers can be issued <em>today</em>! Clients can check-in beginning <em>tomorrow.</em></h3>
    <p class="text-blue-900">Please help clients realize their check-in is actually for tomorrow, not today.</p>
  </section>
<% end %>
