<section id="notice--intake-ended" class="notice bg-indigo-300">
  <h3>The intake period for the most recent SWAP activation has ended.</h3>
  <p class="text-indigo-900">Vouchers can only be issued during the intake period, which runs from 1 day before the swap period begins to 1 day before the swap period ends.</p>
</section>
