<section id="notice--intake-ended" class="bg-indigo-200 border-t-1 border-b-2 border-indigo-800 p-2">
  <p class="text-lg font-semibold">The intake period for the most recent SWAP activation has ended.
    <span class="text-lg text-indigo-900 font-normal">Vouchers can only be issued during the intake period.</span>
  </p>
</section>
