<% if @swap.present? && SwapIntake.today_is_last_intake_day?(@swap) %>
  <section class="notice bg-yellow-400">
    <h3 >Today is the last day to issue vouchers for the current SWAP period.</h3>
    <p>However, be on the lookout! Administrators may extend.</p>
  </section>
<% end %>
