<% if @swap.present? && SwapIntake.today_is_last_intake_day?(@swap) %>
  <section class="notice bg-yellow-300">
    <h3 >Today is the last day to issue vouchers for the current SWAP period.</h3>
    <p class="text-yellow-900">However, be on the lookout! Administrators may extend the stay for issued vouchers and/or the intake period.</p>
  </section>
<% end %>
