<<<<<<< HEAD
<% if @num_vouchers_remaining_today&.zero? %> 
  <section id="notice--no-vouchers" class="notice bg-yellow-300">
=======
<% if @num_vouchers_remaining_today&.zero? %>
  <section id="notice--no-vouchers" class="px-4 bg-yellow-300">
>>>>>>> 81f1f12cb6be2f93e4bdb0be295d2865f63f0c8e
    <h3>Currently, there are no available vouchers to dispense.</h3>
  </section>
<% end %>
