<% if @swap.nil? %>
  <section class="mt-16 p-8 text-6xl bg-red-400">
    <p class="font-bold">There is currently no scheduled SWAP period.</p>
    <p class="mt-6 tex-5xl">Vouchers may be issued up to 1 day before a new period is activated.</p>
  </section>
<% end %>
