<% if @num_vouchers_remaining_today.zero? %> 
  <section id="notice--no-vouchers" class="notice bg-yellow-300">
    <h3>Currently, there are no available vouchers to dispense.</h3>
  </section>
<% end %>
