<% if @swap.nil? %>
  <section class="notice bg-red-300">
    <h3>There is currently no scheduled SWAP period.</h3>
    <p>Vouchers may be issued up to 1 day before a new period is activated.</p>
  </section>
<% end %>
