<% if @swap.nil? %>
  <section id="notice--swap-inactive" class="bg-indigo-200 border-t-1 border-b-2 border-indigo-800 p-2">
    <p class="text-lg font-semibold">No scheduled SWAP period.<br/>
      <span class="text-lg text-indigo-900 font-normal">Vouchers can be dispensed once the program is activated by an administrator.</span>
    </p>
  </section>
<% end %>
