<% if @swap.nil? %>
  <section id="notice--swap-inactive" class="notice bg-indigo-300">
    <h3>There is currently no scheduled SWAP period.</h3>
    <p class="text-indigo-900">Vouchers can be dispensed once an administrator activates the program.</p>
  </section>
<% end %>
