<% if @swap.present? %>
  <section class="notice bg-blue-300">
    <h3>SWAP is active!</h3>
    <p><%= @swap.start_date.strftime("%a, %m/%d") %> through <%= @swap.end_date.strftime("%a, %m/%d") %></p>
  </section>
<% end %>
