<% if @swap.nil? %>
<<<<<<< HEAD
  <section id="notice--swap-inactive" class="notice bg-indigo-300">
    <h3>There is currently no scheduled SWAP period.</h3>
    <p class="text-indigo-900">Vouchers can be dispensed once an administrator activates the program.</p>
=======
  <section id="notice--swap-inactive" class="bg-indigo-200 border-t-1 border-b-2 border-indigo-800 p-2">
    <p class="text-lg font-semibold">No scheduled SWAP period.<br/>
      <span class="text-lg text-indigo-900 font-normal">Vouchers can be dispensed once the program is activated by an administrator.</span>
    </p>
>>>>>>> 81f1f12cb6be2f93e4bdb0be295d2865f63f0c8e
  </section>
<% end %>
