.IntakeDayPicker {
  font-size: 1.85rem;
}

.IntakeDayPicker .DayPicker-Month .DayPicker-Caption > div {
  font-weight: 600;
  text-align: center;
}

.IntakeDayPicker .DayPicker-Month {
  background: white;
  border: 1px solid #ccc;
  margin: 0;
}

.IntakeDayPicker .DayPicker-Month:nth-child(2) {
  margin-left: 10px;
}
.IntakeDayPicker .DayPicker-Day--highlighted {
  background-color: lightpink;
  border-radius: 0 !important;
}

.IntakeDayPicker .DayPicker-Day--highlighted:hover {
  background-color: lightpink !important;
}

.IntakeDayPicker .DayPicker-Day--start {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}

.IntakeDayPicker .DayPicker-Day--end {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

.IntakeDayPicker .DayPicker-Day--selected {
  background-color: blue !important;
  color: white !important;
  border-radius: 0 !important;
}

.IntakeDayPicker .DayPicker-Day--highlighted.DayPicker-Day--selected {
  background-color: blue !important;
  color: white !important;
}
