<form class="client_search" id="client_search" action="/clients" accept-charset="UTF-8" method="get">
  <div class="border overflow-hidden flex text-6xl">
    <input class="w-full px-4 py-8" name="q[first_name_or_last_name_cont]" id="q_first_name_or_last_name_cont" type="search" placeholder="Search..." autofocus="autofocus">
    <button class="flex items-center justify-center px-8 border border-gray">
      <svg class="h-10 w-10 text-grey-dark" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"/></svg>
    </button>
  </div>
</form>
