<div class="mt-16 text-center text-5xl">
  <%= search_form_for @q do |f| %>
    <div class="w-full flex flex-1 space-x-4 text-6xl text-gray-700">
        <%= f.search_field :first_name_or_last_name_cont, 
          placeholder: 'Search by first or last name', 
          autofocus: true,
          class: "rounded py-4 px-6 text-gray-600 outline-gray focus:shadow-outline w-full" %>
        <%= f.submit 'Search', class: "btn btn-blue" %>
    </div>
  <% end %>
</div>

