<div class="max-w-6xl w-full">
  <table class="shadow bg-white rounded text-left text-5xl w-full">
    <thead>
      <tr class="bg-black text-white block">
        <th class="w-1/3 px-4 py-8">First Name</th>
        <th class="w-1/3 px-4 py-8">Last Name</th>
        <th class="px-4 py-8">Date of Birth</th>
      </tr>
    </thead>
    <tbody class="block overflow-y-scroll" style="height: 700px">
      <% @clients.each do |client| %>
        <tr>
          <td class="w-1/3 px-4 py-8 text-left">
            <%= link_to(client.first_name, client_path(client), class: 'link') %>
          </td>
          <td class="w-1/3 px-4 py-8 text-left">
            <%= link_to(client.last_name, client_path(client), class: 'link') %>
          </td>
          <td class="px-4 py-8 text-left tabular-nums"><%= formatted_date(client.date_of_birth) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
