<div class="container mx-auto">
  <h1>Swap Red Flag List</h1>

  <div>
    <%= render partial: 'search_form' %>
  </div>

  <% if @searched %>
    <% if @clients.any? %>
      <%= render partial: 'table' %>
    <% else %>
      <p>No matching clients found.</p>
    <% end %>
  <% end %>
</div>
