<div class="px-4">
  <section class="mt-16">
    <p class="step-description">1. Search the red flag list</p>
    <h1 class="mt-24 text-9xl text-black font-bold">Start here. 🌱</h1>
    <p class="mt-12 help-text">
      Look up client to see if they have used SWAP before. Use broad search terms: "Ben" instead of "Benjamin," or "Jo" instead of "Joseph."
    </p>
  </section>

  <section class="mt-16 px-4">
    <%= render partial: 'search_form' %>
  </section>

  <main class="mt-16">
    <% if @searched %>

      <% if @clients.any? %>
        <section class="mt-16">
          <p class="help-text">
            <strong>2 results were found for "SEARCHTERM"</strong>. If you see
            your client in the table, click on the row to check if they have
            been previously red flagged.
          </p>
        </section>

        <section class="mt-16">
          <%= render partial: 'table' %>
        </section>
      <% end %>

      <section class="py-16 px-4">
        <h2 class="text-7xl font-bold leading-relaxed">
          Don't see your client?
        </h2>

        <p class="help-text">
        There were no client records found for "SEARCHTERM" Try
        searching for a different name or...
        </p>

        <h2 class="text-7xl font-bold">
          proceed to <%= link_to 'intake', new_intake_path, class: 'link' %>.
        </h2>
      </section>
    <% end %>
  </main>
</div>
