<div class="px-4">
  <section class="mt-12">
    <p class="step-description">1. Search the red flag list</p>
    <h1 class="mt-24 text-9xl text-black font-bold">Start here. 🌱</h1>
    <p class="mt-8 text-5xl leading-tight text-gray-800">Blah blah we need
    to check for incidents. lorem ipsum blah follow SWAP program poilcy when conflicts
    blah arise:<p/> 
  </section>

  <section>
    <%= render partial: 'search_form' %>
  </section>

  <main class="mt-12">
    <% if @searched %>
      <% if @clients.any? %>
        <%= render partial: 'table' %>
        <section class="py-24">
          <h2 class="text-7xl text-center font-bold leading-relaxed">
            <p>No incidents?</p>
            <p>Continue to <%= link_to 'intake', new_intake_path, class: 'link' %>.</p>
            </h2>
        </section>
      <% else %>
        <section class="py-24">
            <h2 class="text-7xl text-center font-bold leading-relaxed">
            <p>Client not found?</p>
            <p>Proceed to <%= link_to 'intake', new_intake_path, class: 'link' %>.</p>
            </h2>
        </section>
      <% end %>
    <% end %>
  </main>
  <section>
    <p class="help-text text-4xl">Placeholder: lorem ipsum Note about what to do when you DO find incidents</p>
  </section>
</div>
