<section class="mt-12">
  <p class="text-4xl leading-loose text-gray-500 font-semibold">1. Search red flag list</p>
  <h1 class="mt-24 text-8xl text-black font-bold">Get started.</h1>
  <p class="mt-8 text-5xl leading-tight text-gray-800">Blah blah we need
  to check for incidents. lorem ipsum blah follow SWAP program poilcy when conflicts
  blah arise:<p/> 
  <%= render partial: 'search_form' %>
</section>

<main class="mt-12">
  <% if @searched %>
    <% if @clients.any? %>
      <%= render partial: 'table' %>
      <div class="mt-24">
        <p class="text-7xl text-center font-semibold leading-loose">No incidents?</p>
        <p class="text-7xl text-center font-semibold leading-loose">Continue to <%= link_to 'client intake', new_client_path, class: 'link' %> form.</p>
      </div>
    <% else %>
      <div class="mt-24">
        <p class="text-7xl text-center font-semibold leading-loose">No matches found.</p>
        <p class="text-7xl text-center font-semibold leading-loose">Continue to <%= link_to 'client intake', new_client_path, class: 'link' %> form.</p>
      </div>
    <% end %>
  <% end %>
</main>
<section>
  Placeholder: lorem ipsum Note about what to do when you DO find incidents
</section>
