<div class="flex items-center">
  <div>
    <h3 class="px-2 py-2 text-xl tracking-wide font-normal bg-gray-900 text-gray-100 rounded-t-lg">Red Flags</h3>
    <div class="p-4 bg-white border border-gray-300 rounded-b-lg text-xl text-gray-800 shadow-sm md:shadow-lg">
      <% if !@flagged_here %>
        <p>Client is not red flagged. They are currently eligible to receive vouchers at this hotel.</p>
        <p class="mt-2">If you believe this client should be ineligible, notify a SWAP administrator with a summary of the disturbance, name, and date of birth of the client.</p>
      <% else %>
        🚩 Client has been red flagged. They are no longer eligible to receive vouchers at this hotel.
      <% end %>
    </div>
  </div>
</div>