<section class="bg-white shadow-lg rounded-lg">
 <div class="p-8 grid grid-cols-2 border border-4 rounded-lg current-swap-border">
  <div class="text-3xl">
    <p class="font-bold">
    <%= @swap.upcoming? ? 'Upcoming' : 'Current' %> 
    Swap Period
    </p>
    <div class="mt-6 space-y-6">
      <div class="flex gap-8">
        <div>
          <div class="text-2xl font-bold tracking-wide">Check In</div>
          <span class="mt-2"><%= @swap.start_date.to_formatted_s(:short) %></span>
        </div>
        <div>
          <div class="text-2xl font-bold tracking-wide">Check Out</div>
          <span class="mt-2"><%= @swap.end_date.to_formatted_s(:short) %></span>
        </div>
      </div>
      <div>
        <div class="text-2xl font-bold tracking-wide">Intake Dates</div>
        <div class="mt-2">
          <%= @swap.intake_dates.map {|date| date.to_formatted_s(:short) }.join(", ") %>
        </div>
      </div>
    </div>
  </div>
</section>
