<div>
  <h4 class="font-bold tracking-wide admin-blue text-4xl text-center">Extend SWAP Period</h4>
  <p class="mt-4 max-w-3xl text-2xl leading-relaxed tracking-wide">
    Extending the SWAP period will <span class="font-semibold">extend all
    current voucher holders’ stay</span> by the number of specified days.
  </p>
  <%= form_for(@swap, url: admin_extend_swap_path(@swap), method: :put) do |form| %>
    <div class="mt-4 flex justify-center items-center">
      <div class="bg-admin-orange border border-gray-900 px-8 py-4 rounded-l-xl">
        <p class="text-2xl font-semibold tracking-wide">
          Extend current SWAP by &nbsp;
          <%= number_field_tag "days", 1, min: 1, step: 1, 
            class: "p-2 w-20 
            text-2xl text-gray-900 text-center
            bg-white border border-gray-500" 
          %> 
          &nbsp; days.
        </p>
      </div>
      <%= 
        form.submit "Extend", 
          data: { confirm: "WARNING: The current Swap Period will be extended. This action cannot be undone, except by a database administrator. Are you certain this is what you want to do?" },
          class: "btn-extend p-6 text-2xl tracking-wide 
          bg-admin-blue rounded-r-xl border border-gray-900"
      %>
    </div>
  <% end %>
</div>