<section class="border border-gray-500 mt-16 shadow-xl">
    <h2 class="bg-gray-900 text-white text-6xl text-center font-semibold p-6">Flagged Clients</h2>
    <table class=" bg-white rounded text-left text-4xl w-full">
      <thead>
        <tr class="bg-gray-900 text-white block">
          <th class="px-3 w-3/12 lg:rounded-tl-lg py-8">First Name</th>
          <th class="px-4 w-3/12 lg:rounded-tl-lg py-8">Last Name</th>
          <th class="px-3 w-3/12 lg:rounded-tl-lg py-8"></th>
        </tr>
      </thead>
      <tbody class="block overflow-y-scroll" style="height: 430px;">
        <% @flagged_clients.each do |flagged_client| %>
          <tr>
            <td class="py-3 px-1 w-3/12 text-left tabular-nums">
              <%= flagged_client.client_id %>
            </td>
            <td class="py-3 px-0 w-3/12 text-left tabular-nums">
              <%= flagged_client.hotel_id %>
            </td>
            <td class="px-3 w-3/12">
                <a href="/guests/<%= flagged_client.client_id %>" class="link"><i class="bi bi-x-circle-fill"></i></a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>