<main class="mt-12 container mx-auto max-w-4xl lg:max-w-7xl">
  <h1 class="font-bold">Swapp Admin Dashboard</h1>
  <% if @swap %>
    <!-- TODO: swap period details section goes here -->
  <% else %>
  <section class="mt-8">
    <%= react_component("SwapWizard/SwapWizard") %>
  </section>
  <% end %>
  <section class="">
    <%= render partial: 'client_search' %>
    <%= render partial: 'vouchers_issued' %>
  </section>
</main>
