/* app/javascript/stylesheets/application.scss */
@import "tailwindcss/base";
@import "tailwindcss/components";

/* Add any custom CSS here */
@import "tailwindcss/utilities";

h1 {
  @apply text-7xl;
}
h2 {
  @apply text-6xl;
}
h3 {
  @apply text-5xl;
}
h4 {
  @apply text-4xl;
}

// fix ios element rounding
input {
  border-radius: 0;
}

input[type="search"] {
  -webkit-appearance: none;
}

.btn {
  @apply font-bold py-4 px-6 rounded;
}

.btn-outline {
  @apply outline-black;
}

.btn-indigo {
  @apply bg-indigo-500 text-white;
}

.btn-indigo:hover {
  @apply bg-indigo-700;
}

.btn-red {
  @apply bg-red-500 text-white;
}

.btn-red:hover {
  @apply bg-red-700;
}

.btn-blue {
  @apply bg-blue-500 text-white;
}

.btn-blue:hover {
  @apply bg-blue-700;
}

.link {
  @apply text-blue-600 underline;
}

.link-blue {
  @apply text-blue-600 underline;
}

.link-yellow {
  @apply text-yellow-400 underline;
}

.step-description {
  @apply text-4xl leading-loose tracking-wide text-gray-500 font-semibold;
}

.help-text {
  @apply text-5xl text-gray-800 leading-tight;
}

.notice {
  @apply p-6;
  h3 {
    @apply font-bold text-6xl;
  }
  p {
    @apply mt-6 text-5xl;
  }
  a {
    @apply font-semibold text-blue-600 underline;
  }
}

.hazard-tape {
  padding: 1.5rem;

  background: repeating-linear-gradient(
    -45deg,
    #f2a417,
    #f2a417 15px,
    #141617 15px,
    #141617 30px
  );
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
