/* app/javascript/stylesheets/application.scss */
@import "tailwindcss/base";
@import "tailwindcss/components";

/* Add any custom CSS here */
@import "tailwindcss/utilities";

body {
  font-family: "Manrope", ui-sans-serif, sans-serif;
}

h1 {
  @apply text-4xl;
}
h2 {
  @apply text-3.5xl;
}
h3 {
  @apply text-3xl;
}
h4 {
  @apply text-2xl;
}
h5 {
  @apply text-xl;
}
// fix ios element rounding
input {
  border-radius: 0;
}

input[type="search"] {
  -webkit-appearance: none;
}

.btn {
  @apply font-bold py-4 px-6 rounded;
}

.btn-outline {
  @apply outline-black;
}

.btn-indigo {
  @apply bg-indigo-500 text-white;
}

.btn-indigo:hover {
  @apply bg-indigo-700;
}

.btn-red {
  @apply bg-red-500 text-white;
}

.btn-red:hover {
  @apply bg-red-700;
}

.btn-blue {
  @apply bg-blue-500 text-white;
}

.btn-blue:hover {
  @apply bg-blue-700;
}

.bullet-font li{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.link {
  @apply text-blue-600 underline;
}

.link-blue {
  @apply text-blue-600 underline;
}

.link-yellow {
  @apply text-yellow-400 underline;
}

.help-text {
  @apply text-5xl text-gray-800 leading-tight;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

// .slab-pink {
//   background-color: #FFDDD2;
//   margin-right: auto;
//   margin-left: auto;
//   height: 70%;
//   display: flex;
//   flex-direction: column;
// }

.slab-pink {
  background-color: #FFDDD2;
}

.stats-container {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  display: grid;
  gap: 10px;
}

.cabin-container {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  display: grid;
}

.stats-box {
  width: 200px;
	height: 200px;
	background: #83c5be;
  text-align: center;
  margin:5px;
}

.stats-number {
  font-size: 40px;
  text-align: center;
}

.stats-words {
  font-size: 26px;
  text-align: center;
}

.count
{
  text-align: center;
  line-height: 70px;
  color:white;
  font-size: 50px;
}

.cabin {
  position: absolute;
  right: 100px;
  bottom: -17px;
}

// .tv {
//   position: relative;
//   border-radius: 50% 20% / 10% 40%;
//   width: 600px;
// 	height: 400px;
// }