<div class="min-h-screen container mx-auto max-w-5xl px-2">
  <h3 class="mt-10 p-4 font-bold">Vouchers</h3>
  <div class="shadow overflow-hidden border-b border-gray-200">
    <div class="grid grid-cols-4">
      <div class="pl-4 py-4 bg-gray-900 font-semibold text-xl text-white uppercase tracking-wide">No.</div>
      <div class="py-4 bg-gray-900 font-semibold text-xl text-white uppercase tracking-wide">Name</div>
      <div class="py-4 bg-gray-900 font-semibold text-xl text-white uppercase tracking-wide text-right">Check In</div>
      <div class="pr-4 py-4 bg-gray-900 font-semibold text-xl text-white uppercase tracking-wide text-right">Check Out</div>
      <% @vouchers.each do |voucher| %>
        <div class="pl-4 py-4 text-2xl"><%= voucher.number %></div>
        <div class="py-4 text-2xl"><%= voucher.client.name %></div>
        <div class="py-4 text-2xl text-right"><%= voucher.check_in.to_date.to_formatted_s(:short) %></div>
        <div class="pr-4 py-4 text-2xl text-right"><%= voucher.check_out.to_date.to_formatted_s(:short) %></div>
      </tr>
    <% end %>
  </div>
</div>
