<section class="mt-12 container mx-auto">
  <%= link_to 'Back', :back, 
  class: "text-xl admin-blue underline" %>
</section>

<section class="my-24 container mx-auto">
  <%= react_component('ManageUsers/ManageUsers', current_user: current_user,
  users: @users) %>
</section>