<div class="px-4 pb-24 mt-12">
  <p class="step-description">2. Collect new client info</p>
  <h1 class="mt-24 text-9xl text-black font-bold">Interview. 💬</h1>
  <p class="help-text">
    Collect some basic information from your client and context about their housing
    situation. Once submitted, you can issue a voucher.
  </p>
  <%= render partial: 'form' %>
</div>
