<div class="mt-12">
  <p class="text-4xl leading-loose text-gray-500 font-semibold">2. Perform new client intake</p>
  <h1 class="mt-24 text-8xl text-black font-bold">Let's do intake.</h1>
  <p class="mt-8 text-5xl leading-tight text-gray-800">lorem ipsum placeholder for intake form instructions. If this is a returning client, please, lookup instead.</p>
  <%= render partial: 'form' %>
</div>
