<div class="px-6 mt-16">
  <p class="step-description">2. Collect new client info</p>
  <h1 class="mt-24 text-9xl text-black font-bold">Interview. 💬</h1>
  <p class="mt-6 help-text">
    Collect some basic information from your client and context about their housing
    situation in this form. Once submitted, you can issue a voucher.
  </p>
</div>
<%= render partial: 'shared/swap_notices' %>
<% if SwapIntake.can_issue_voucher_today?(@swap) %>
  <section class="px-6 mt-16">
    <%= render partial: 'form' %>
  </section>
<% end %>
