<div class="px-6 pb-24 mt-12">
  <p class="step-description">2. Collect new client info</p>
  <h1 class="mt-24 text-9xl text-black font-bold">Interview. 💬</h1>
  <p class="mt-6 help-text">
    Collect some basic information from your client and context about their housing
    situation in this form. Once submitted, you can issue a voucher.
  </p>
  <% if @swap %>
    <% if SwapIntake.today_is_first_intake_day?(@swap) %>
      <section class="mt-16 p-8 text-7xl bg-blue-400">
        <p class="">SWAP stays begin <strong>tomorrow, <%= (@swap.end_date - 1.day).to_formatted_s(:short) %></strong>.</p>
        <p class="mt-6 font-bol">Vouchers may be issued starting today. Please help clients realize their check-in is actually for <em>tomorrow!</em></p>
      </section>
    <% end %>
    <% if SwapIntake.today_is_last_intake_day?(@swap) %>
      <section class="mt-16 p-8 text-7xl bg-yellow-400">
        <p class="font-bold">Today is the last day to issue vouchers for the current SWAP period.</p>
        <p class="mt-6 text-6xl">However, be on the lookout! Administrators may extend.</p>
      </section>
    <% end %>
    <% if @swap.nights_remaining == 0 %>
      <section class="mt-16 p-8 text-7xl bg-red-400">
        <p class="font-bold">Whoops! The last day to issue vouchers for the current period was: <%= (@swap.end_date - 1.day).to_formatted_s(:short) %></p>
        <p class="mt-6">Next time make sure to issue vouchers during the intake period, so clients can stay at least 1 night.</p>
      </section>
    <% end %>
    <% if SwapIntake.can_issue_voucher_today?(@swap) %>
      <%= render partial: 'form' %>
    <% end %>
  <% else %>
    <section class="mt-16 p-8 text-7xl bg-red-400">
      <p class="font-bold">Whoops! There is currently no scheduled SWAP Period.</p>
      <p class="mt-6">Administrators may enable vouchers by activating the program.</p>
    </section>
  <% end %>
</div>
