<div class="px-6 mt-16">
  <p class="step-description">2. Collect new client info</p>
  <h1 class="mt-24 text-9xl text-black font-bold">Intake 💬</h1>
  <p class="mt-6 help-text">
    Collect basic client information along with context about their housing
    situation. Once submitted, you can issue a voucher.
  </p>
</div>
<section class="mt-16">
  <%= render partial: 'shared/swap_notices' %>
</section >
<% if SwapIntake.can_issue_voucher_today?(@swap) %>
  <section class="px-6 mt-16">
    <%= render partial: 'form' %>
  </section>
<% end %>
