<footer class="bg-indigo-100 text-gray-700 text-xl md:text-2xl md:leading-relaxed">
  <div class="container mx-auto px-4 pt-32 pb-12">
    <div class="flex flex-col gap-8 justify-between lg:flex-row w-full">
      <div class="max-w-2xl">
        <span class="font-bold tracking-wide">swapp</span> is a non-profit service built by <a href="https://www.codeforamerica.org/" class="link">Code For America</a> in partnership with the Adams County Department of Community Safety & Well Being <a href="https://www.adcogov.org/community-safety-well-being", class="link">(CSWB)</a> and <a href="https://almosthomeonline.org", class="link">Almost Home.</a>
      </div>
      <p class="">Feedback?  <a href="mailto:bpoon@codeforamerica.org?cc=ftang@codeforamerica.org, bjohnson@codeforamerica.org&subject=SWAPP%20Site%20Feedback", class="link">Email us</a></p>
    </div>
  </div>
</footer>
