
<div class="bottom-0 bg-gray-600 px-4 text-gray-200 py-9 text-3xl">
  <p>SWAPP is a non-profit service built by <a href="https://www.codeforamerica.org/" class="link underline">CodeForAmerica</a> in partnership with the Department of Community Safety and Well Being <a href="https://www.adcogov.org/community-safety-well-being", class="link underline">(CSWB)</a>, and <a href="", class="link underline">Almost Home.</a></p>
  &nbsp
  <p class="mt-">Feedback? <a href="mailto:bpoon@codeforamerica.org?cc=ftang@codeforamerica.org, bjohnson@codeforamerica.org&subject=SWAPP%20Site%20Feedback", class="link underline">Email us</p>
</div>

