<div class="bg-gray-900 px-8 text-gray-400 pt-32 pb-48 text-5xl">
  <div class="mt-16 leading-snug">
    <strong>swapp</strong> is a non-profit service built by <a href="https://www.codeforamerica.org/" class="link">CodeForAmerica</a> in partnership with the Adams County Department of Community Safety & Well Being <a href="https://www.adcogov.org/community-safety-well-being", class="link">(CSWB)</a> and <a href="https://almosthomeonline.org", class="link">Almost Home.</a> </div> <p class="mt-32">Feedback? <a href="mailto:bpoon@codeforamerica.org?cc=ftang@codeforamerica.org, bjohnson@codeforamerica.org&subject=SWAPP%20Site%20Feedback", class="link">Email us</p>
</div>

