<header class="container mx-auto flex justify-between items-center max-w-6xl px-2 py-6">
  <div class="text-2xl lg:text-3xl font-semibold">
    <%= link_to'swapp', root_path %>
  </div>
  <% if user_signed_in? %>
    <ul class="flex gap-3 text-xl lg:text-2xl">
      <span class="text-gray-500"><%= current_user.email %></span>
      <% if current_user.admin_user? %>
        <%= link_to 'admin', admin_home_path, class: "link"  %>
      <% end %>
      <%= link_to 'logout', destroy_user_session_path, method: :delete, class: "link" %>
    <% end %>
  </ul>
</header>
