<header class="w-full text-2xl flex items-center justify-between pt-4">
  <span class="font-semibold pl-6">
    swapp
  </span>
  <% if user_signed_in? %>
    <ul class="list-none lg:px-16 pr-6 flex space-x-4 justify-end">
      <li class="">
        <span class="text-gray-700"><%= current_user.email %></span>
      </li>
      <li class="">
        <%= link_to('logout', destroy_user_session_path, method: :delete, class: "link underline") %>
      </li>
    <% end %>
    </ul>
</header>
