
<div id="template_guest" class="hidden space-y-8 text-5xl my-12">
  <label for="voucher[guests][replace][name]">
  <input name="voucher[guests][replace][name]"
    id="voucher_guests_replace_first_name"
    placeholder="Search by first or last name"
    class="p-4 w-full rounded-lg focus:ring-indigo-500 focus:border-indigo-500">
    </label>
</div>