<div class="px-2 md:container lg:max-w-6xl">
  <section class="mt-8 md:mt-12 lg:mt-16 ">
    <h1 class="text-center">Hotel Voucher created! 🎉</h1>
    <p class="mt-4 md:mt-8 text-base sm:text-lg md:text-xl text-gray-800 max-w-3xl md:text-center mx-auto">
      This is a digital record of a hotel voucher. <strong>This does NOT replace a
        physical voucher!</strong> ONLY the paper voucher will be accepted by the
      hotel front desk.  Write down the voucher details on your physical voucher
      slip.  </p>
  </section>
  <section class="mx-auto mt-8 md:mt-12 md:max-w-4xl">
    <%= render @voucher %>
  </section>
  <div class="text-center my-16"j>
    <%= link_to clients_path, class: 'text-xl md:text-2xl lg:text-3xl underline text-indigo-600' do %>
      Go to client search.
    <% end %>
  </div>
</div>
