<div class="px-6 pb-24 mt-12">
  <p class="step-description">Issue hotel voucher </p>
  <h1 class="mt-24 text-9xl text-black font-bold">Create a voucher. 🎫</h1>
  <p class="mt-6 help-text">
    Which hotel is the client headed to and for how long?
    Try to collect phone/email at this stage if you can, in order to share the digital voucher easily.
    You may want to copy the created voucher info and send it to your client.
  </p>
  <%= render partial: 'shared/swap_notices' %>
</div>
