<div class="px-6 mt-12">
  <p class="step-description">Issue hotel voucher </p>
  <h1 class="mt-24 text-9xl text-black font-bold">Create a voucher. 🎫</h1>
  <p class="mt-6 help-text">
  </p>
</div>

<section class="mt-16">
  <%= render partial: 'shared/swap_notices' %>
</section>

<% if @existing_voucher.present? %>
  <%= render partial: 'shared/notices/existing_voucher' %>
<% else %> 
  <section class="px-6 mt-16 pb-24">
    <% if SwapIntake.can_issue_voucher_today?(@swap) %>
      <%= render partial: 'form' %>
    <% else %>
      <!-- todo notice we can't issue vouchers today -->
    <% end %>
  </section>
<% end %>
