<section class="px-6 mt-12">
  <p class="mt-16 help-text">
    This is a digital record of a hotel voucher. <strong>This does NOT replace
      a physical voucher!</strong> ONLY the paper voucher will be accepted by
    the hotel front desk.
  </p>
</section>
<section class="mt-24">
  <%= render @voucher %>
</section>
<ul class="px-12 mt-16 flex flex-t justify-between">
  <li><%= link_to 'Back', :back, class: 'link text-6xl font-bold tracking-wide' %></li>
  <li><%= link_to 'Search', clients_path, class: 'link text-6xl font-bold tracking-wide' %></li>
</ul>
