<section class="px-4 mt-12">
  <p class="step-description">3. Dispense voucher with instructions</p>
  <h1 class="mt-24 text-9xl text-black font-bold">Hotel voucher created! 🎉</h1>
  <p class="mt-8 text-5xl leading-tight text-gray-800">lorem ipsum placeholder for instructions on issuing vouchers. Some kind of note here about the digital voucher, and writing stuff down, and directing the client generally.
</section>

<section class="mt-24">
  <%= render @voucher %>
</section>

<section class="py-24">
  <h2 class="text-7xl text-center  font-bold">Help another <%= link_to 'client', clients_path, class: 'link' %>.</h1>
</section>
