<section class="px-6 mt-12">
  <p class="mt-16 help-text">
    This is a digital record of a motel voucher. <strong>This does NOT replace
      a physical voucher!</strong> ONLY the paper voucher will be accepted by
    the motel front desk.
  </p>
</section>
<section class="mt-24">
  <%= render @voucher %>
</section>
